pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set_variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Suraj_Folder/Suraj_Notebook",
					"baseParameters": {
						"Variable": {
							"value": "@variables('Suraj_Variable')",
							"type": "Expression"
						},
						"location": "change_location"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set_variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Suraj_Variable",
					"value": {
						"value": "@first('')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Suraj_Variable": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Azure_DataBricks"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-08T11:12:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}